@import url("./reset.css");

:root {
    --app-dark-bg: #1a1d28;
    --app-green: #33ab4e;
    --app-purple: #6e30d8;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
    --app-red: #ff3c57;
    --app-pink: #ff2dff;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

main {
    height: 315vh;
    background-color: #c5c3c3;
}

/* -----------------------------------*/
/* Header                             */
/* -----------------------------------*/

header {
    background-color: #e0dede;
}

header .flex {
    display: flex;
    justify-content: space-between;
}

.title h1 {
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 60px;
    text-transform: uppercase;
}

nav {
    height: 60px;
}

nav ul {
    list-style: none;
    font-size: 0;
}

nav ul li {
    display: inline;
    line-height: 60px;
}

nav ul li a {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.4px;
    cursor: pointer;
    transition: color 0.25s ease-in-out;
}

nav ul li a:hover {
    color: #3f3d3d;
}

nav ul li + li {
    margin-left: 20px;
}

/* -----------------------------------*/
/* Hero Banner                        */
/* -----------------------------------*/

h2 {
    margin-top: 380px;
    font-size: 36px;
    color: #fff;
}

.landing {
    background: #fff url("../image/ken-cheung-KonWFWUaAuk-unsplash.jpg") 
    center center / cover no-repeat;
    height: 95vh; 
    text-align: center;
    overflow: hidden;
}

/* -----------------------------------*/
/* Content                            */
/* -----------------------------------*/

.mid, .bot {
    height: 105vh;
}

.dark {
    background-image: linear-gradient(to bottom right, #1a1d28, #2e3346);
}

.border {
    height: 0;
    border-bottom: 5px ridge #3f3d3d;
}

h3 {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
}

div p {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.4px;
}

aside {
    margin: auto;
    margin-top: 0px;
    width: 200px;
}

aside p{
    display: list-item;
}

img {
    margin-top: 40px;
    border-bottom: 1px solid #6495ED;
    padding-bottom: 100px;
}

/* -----------------------------------*/
/* Bottom                             */
/* -----------------------------------*/

.row {
    display: flex;
}

.row + .row {
    margin-top: 16px;
}

.row > div {
    margin-top: 200px;
    padding-bottom: 300px;
    width: 100%;
    height: 400px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 2px rgb(0, 0, 0 / 0.1);
}

.row > div + div {
    margin-left: 16px;
}

/* -----------------------------------*/
/* Footer                             */
/* -----------------------------------*/

footer {
    min-width: 100%;
    height: 60px;
    background-color: #e0dede;
    color: #302f2f;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 60px;
    text-transform: uppercase;
}