@import url("./reset.css");

:root {
    --app-dark-bg: #1a1d28;
    --app-green: #33ab4e;
    --app-purple: #6e30d8;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
    --app-red: #ff3c57;
    --app-pink: #ff2dff;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

main {
    width: 100%;
    background-color: #c5c3c3;
    padding-bottom: 0;
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6;
    background-color: #c5c3c3;
    color: #333;
    display: flex;
    flex-direction: column;
}

/* -----------------------------------*/
/* Header                             */
/* -----------------------------------*/
  
header {
    background-color: #e0dede;
}
  
.title h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 60px;
    text-transform: uppercase;
    color: #333;
}
  
ul li {
    display: inline-block;
    line-height: 60px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
  
nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #555;
    transition: color 0.3s;
}
  
header nav ul li a:hover {
    color: #000000;
}

.flex {
    height: 60px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

/* -----------------------------------*/
/*  Landing                           */
/* -----------------------------------*/

.landing {
    background: #fff url("../image/landing.jpg") center center / cover no-repeat;
    height: 95vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    animation: fadeIn 1s ease-in-out;
    
}


.landing h2 {
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 20px;

}

#typed-text {
    font-size: 22px;
    cursor: default;
    display: inline-block;
    padding-right: 5px;
}

.typed-container {
    max-height: 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* -----------------------------------*/
/*  About                             */
/* -----------------------------------*/

.mid {
    background-color: #f9f9f9;
    padding: 80px 0;
    text-align: center;
}

.mid h3 {
    font-size: 36px;
    margin-bottom: 20px;
}

.mid p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 40px;
    max-width: 50%;
    margin: 0 auto;
}

.mid-img {
    max-width: 45%;
    border-bottom: 2px solid #6495ED;
    padding-bottom: 10px;
    margin: auto;
    margin-top: 20px;
}

/* -----------------------------------*/
/*  Programming Languages             */
/* -----------------------------------*/

.languages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.language-title {
    text-align: center;
    margin-top: 30px;
    color: #3553ff;
}

.language {
    justify-content: center;
    margin: auto;
    text-align: center;
    background-color: #fff;
    border: 2px solid var(--app-dark-bg);
    border-radius: 10px;
    margin: 10px;
    max-width: 150px;
    height: 150px;
    display: grid;
    padding: 10px;
    width: calc(33.33% - 250px);
}

.language img {
    margin: auto;
    height: 100px;
    width: 100px;
}

.language img:hover {
    transform: scale(1.2); 
}

.language h4:hover {
    color: var(--app-purple);
    cursor: default;
}

.language h4 {
    font-size: 20px;
    margin-top: 10px;
}

.progress {
    background-color: #ccc;
    height: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.progress-bar {
    height: 100%;
    background-color: var(--app-blue);
    border-radius: 5px;
    animation: progress-bar-animation 2s ease-in-out;
}

@keyframes progress-bar-animation {
    0% {
        width: 0;
    }
}

/* -----------------------------------*/
/*  Bottom                            */
/* -----------------------------------*/

.bot {
    background: linear-gradient(to bottom right, rgb(56, 64, 97), #232736);
    color: #fff;
    padding: 80px 0;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    max-width: 100%;
    max-height: 60vh;
}

.row {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.data p {
    font-size: 20px;
    font-weight: 300;
}

.data:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

a img {
    margin: auto;
    display: block;
    height: 150px;
    width: 150px;
    margin-top: 10px;
}

/* -----------------------------------*/
/*  Footer                            */
/* -----------------------------------*/

footer {
    background-color: #e0dede;
    color: #333;
    text-align: left;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    animation: fadeIn 1s ease-in-out;
}

.copy {
    line-height: 45px;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    margin-left: 20px;
}

.mail {
    margin-top: auto;
    margin-bottom: 10px;
    margin-right: 100px;
    text-align: center;
    
}

.email-button {
    display: inline-block;
}

.email-button button {
    padding: 10px 20px;
    background-color: var(--app-blue);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    min-width: 125px;
}

.email-button button:hover {
    background-color: var(--app-blue-hover);
}

/* -----------------------------------*/
/*  Media queries                     */
/* -----------------------------------*/

@media screen and (max-width: 1200px) {
    .language {
        width: calc(50% - 20px);
        height: calc(50% - 20px);
    }

    a img {
        height: 100px;
        width: 100px;
    }

    .data p, .language {
        position: relative;
        left: 100px;
    }
}


@media screen and (max-width: 780px){
    .language img {
            width: 50px;
            height: 50px;
    }

    .title h1 {
        font-size: 15px;
        font-weight: 600;
    }

    header nav ul li a {
        font-size: 14px;
    }
}

@media screen and (max-width: 664px) {
    .language {
        width: calc(100% - 20px);
    }

    
}

@media(max-width: 1200px) {

    main {width: 100%;}

    .mid, .bot {height: 80%;}

    .row { 
        position: relative;
        right: 100px;
    }
    aside {
        position: absolute;
        right: 250px;
        top: 1800px;
    }

    footer {
        position: relative;
        padding-left: 30px;
    }

    .mail {
        margin-right: 50px;
    }
} 